#searchBar{
	background-image:url(searchBG@2x.png);
	background-size: 100%;
}

#googleLogo{
	background-image: url(google-logo@2x.png);
	background-size: 100%;
}

#searchWikipedia{
	background-image: url(wikipedia-bg@2x.png);
	background-size: 100%;
}

#searchBing{
	background-image: url(bing-bg@2x.jpg);
	background-size: 100%;
}

#bingLogo{
	background-image: url(bing-logo@2x.png);
	background-size: 100%;
}

#flickrLogo{
	background-image: url(flickr-logo@2x.png);
	background-size: 100%;
}

#twitterLogo{
	background-image: url(twitter-logo@2x.png);
	background-size: 100%;
}
/*
#searchTwitter{
	background-image: url(twitter-search@2x.png);
	background-size: 100%;
}
*/

#searchButton{
	background-image:url(searchButton@2x.png);
	background-size: 100%;
}

#settingsPopup{
	background-image:url(settings-popup@2x.png);
	background-size: 100%;
}

#settingsButton{
	background-image: url(settings@2x.png);
	background-size: 100%;
}

#home-screen-hud{
	background-image: url(home-screen-hud@2x.png);
	background-size: 100%;
}

.cloud1-1{
	background-image: url(cloud1-1@2x.png);
	background-size: 100%;
}

.cloud1-2{
	background-image: url(cloud1-2@2x.png);
	background-size: 100%;
}

.cloud1-3{
	background-image: url(cloud1-3@2x.png);
	background-size: 100%;
}

.cloud2-1{
	background-image: url(cloud2-1@2x.png);
	background-size: 100%;
}

.cloud2-2{
	background-image: url(cloud2-2@2x.png);
	background-size: 100%;
}

.cloud2-3{
	background-image: url(cloud2-3@2x.png);
	background-size: 100%;
}

.cloud3-1{
	background-image: url(cloud3-1@2x.png);
	background-size: 100%;
}

.cloud3-2{
	background-image: url(cloud3-2@2x.png);
	background-size: 100%;
}

.cloud3-3{
	background-image: url(cloud3-3@2x.png);
	background-size: 100%;
}

.switch{
	background-image: url(switch-background@2x.png);
	background-size: 100%;
}

.switch .switchHandle{
	background-image: url(switch-handle@2x.png);
	background-size: 100%;
}